 body {
	font-family: sans-serif;
}

.js-state-search {
	width: 40px;
}

.state-pills {
  margin: 15px 2px;
}

.pill {
  display: inline;
  background-color: lightgray;
  border: solid 2px grey;
  border-radius: 10px;
  padding: 5px 8px;
  font-weight: 600;
  margin: 2px;
}

::placeholder { 
  color: black;
  opacity: 0.4; 
}

.js-state-error {
  display: none;
  color: red;
  font-weight: 600;
}

li {
	list-style-type: none;
	padding-bottom: 10px;
	padding-left: 20px;
	border-bottom: dotted 1px grey;

}

input[type=text] {
	margin: 5px;
	padding: 5px;
}

input[type=number] {
	margin: 5px;
	padding: 5px;
}

footer {
	padding-top: 20px;
	padding-bottom: 10px;
}
